.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 2px solid rgb(240, 149, 121);
    padding: 40px;
    border-radius: 16px;
    background-color: rgb(248, 219, 205);
}

.text {
    margin-bottom: 20px;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}